Flask==3.0.0
requests==2.31.0
gunicorn==21.2.0
prometheus-client
python-json-logger
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
